# **Describing Distributions**

_John Andrew Dixon_

---

##### **Imports**

In [1]:
import pandas as pd

#### **Data Load**

In [2]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQbAiu2fU58uWrP4WpvvGpK72nOEp_bq3NVd8V8Z0etNIXACdexTJOCb-tspuhJIlA0QpYNaReijxnt/pub?output=csv"
df = pd.read_csv(url)
df.head()

,State,Lat,Lng,Area,Children,Age,Income,Marital,Gender,ReAdmis,...,Hyperlipidemia,BackPain,Anxiety,Allergic_rhinitis,Reflux_esophagitis,Asthma,Services,Initial_days,TotalCharge,Additional_charges
0,AL,34.34960,-86.72508,Suburban,1.0,53,86575.93,Divorced,Male,0,...,0.0,1.0,1.0,1.0,0,1,Blood Work,10.585770,3726.702860,17939.403420
1,FL,30.84513,-85.22907,Urban,3.0,51,46805.99,Married,Female,0,...,0.0,0.0,0.0,0.0,1,0,Intravenous,15.129562,4193.190458,17612.998120
2,SD,43.54321,-96.63772,Suburban,3.0,53,14370.14,Widowed,Female,0,...,0.0,0.0,0.0,0.0,0,0,Blood Work,4.772177,2434.234222,17505.192460
3,MN,43.89744,-93.51479,Suburban,0.0,78,39741.49,Married,Male,0,...,0.0,0.0,0.0,0.0,1,1,Blood Work,1.714879,2127.830423,12993.437350
4,VA,37.59894,-76.88958,Rural,1.0,22,1209.56,Widowed,Female,0,...,1.0,0.0,0.0,1.0,0,0,CT Scan,1.254807,2113.073274,3716.525786

---

## **Distribution Descriptions**

##### **_VitD_levels_**

##### **_Doc_Visits_**

##### **_TotalCharge_**